.m-dashboard-publish-index{
    
    .u-nav{
        .x;
        svg{
            .size(40px);
            .db;.auto(x);
            fill:@color;
        }
        span{
            .fz(24px,2);
            .db;
            font-weight:300;
            color:@color;
        }
        a{
            // .size(200px,160px);
            .db;
            // background-color:@bg-light;
            // padding:10px;
            // .r(4px);
            padding:30px 0;

            transition:0.1s ease-in;
            &:hover{
                background-color:@bg-light;
                svg{fill:@bg-black;}
                span{color:@bg-black}
            }
        }
    }
    .el-card__body{
        padding:0;
    }
    .el-col{
        .mb(20px);
    }
}