@import './common.less';

.c-item-search {
  padding: 10px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;

  .m-simple-item {
    cursor: pointer;
    user-select: none;
  }
}

.m-search-items, .m-selected-items {
  .pl(0);
  list-style: none;

  li:last-child {
    .m-simple-item {
      .mb(0);
    }
  }
}

.m-search-items {
  .mt(10px);
  .mb(5px);
}

.m-no-item {
  .pt(10px);
  .pb(5px);
  font-size: 14px;
  text-align: center;
  color: #AAAAAA;
}

.c-plan-relation {
  .pl(25px);
}

.m-position {
  .mb(20px);

  .u-title {
    .mt(0);
  }
}

.c-selected-items {
  .pr;
  padding: 10px;
  border: 2px dashed #DCDFE6;
  border-radius: 4px;

  .u-tip {
    .pa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #AAAAAA
  }
}

.m-selected-items {
  .mt(0);
  .mb(0);
  min-height: 32px;
}