.m-publish-jx3dat{
    .u-data-tips{
        .mb(10px);
    }
}

.m-jx3dat-subtypes{
    .el-radio{
        .mb(10px);
    }
}

.m-jx3dat-upload-wrapper{
    width:100%;
    border-collapse: collapse;
    overflow-x: auto;
    background-color:#fafbfc;
    .r(3px);
    .mb(20px);

    .u-wrapper{
        min-width:660px;
    }

    .el-row{
        padding:0 10px;
    }
    
    .u-thead{
        background-color:@color;
        color:#fff;
        font-size: 14px;
        line-height: 3;

        div{
            padding:0 10px;
        }

        border-bottom:1px solid #DCDFE6;

    }
    .u-tbody{
        padding-top:10px;
        border:1px solid #DCDFE6;
        border-top:none;
    }

    .u-tr{
        border-bottom:1px solid #DCDFE6;
        &:last-child{
            border-bottom:none;
        }
        padding-bottom:10px;
        margin-bottom:10px;
    }
    .el-col{
        
    }

    .u-feed,.u-action{
        padding:5px 10px;
    }
    .u-status{
        padding:8px 10px;
    }

    .u-feed{
        .bold;
        // color:#70b603;
        .lh(32px);
    }
    .u-feed-first{
        color:@primary;
    }
    
}

.u-data-input{
    .none;
}
.u-data-name,.u-data-ready{
    color:#49C10F;
    margin-left:10px;
    margin-right:10px;
    .fz(13px);
}
// .u-data-ready{
//     .none;
// }
// .u-data-ready.on{
//     .db;
// }

.m-jx3dat-otherfeed{
    .el-input {
        .fl;.w(25%);
        .mr(20px);
    }
}

@media screen and (max-width:@mininote){
    .m-jx3dat-upload-wrapper .u-feed{
        .fz(14px);
    }
}
@media screen and (max-width:@ipad){
    .m-jx3dat-upload-wrapper .u-feed{
        .fz(12px);
    }
}