.m-profile-avatar{
    .mt(5vh);
    .x;
}
.m-profile-avatar-primary{

    .dbi;.y(top);
    border-right:1px solid #eee;
    padding-right:40px;
    .mr(40px);

    // max-width: 400px;
    
    .u-preview{
        .clearfix;
        .x;
    }

    .u-avatar{
        // .auto(x);
        // width:240px;
        .mb(10px);
        .dbi;
        .mr(10px);
    }
    .u-avatar-l{
        .size(240px);
    }
    .u-avatar-m{
        .size(68px);
    }
    .u-avatar-s{
        .size(24px);
    }

    .u-upload{
        .x;
    }

    .el-upload-list{
        .none;
    }

    .u-tip{
        .fz(12px,2);
        color:#999;
    }

    .u-btng{
        .x;

        button{
            padding-left:40px;
            padding-right:40px;
        }
    }
}
@media screen and (max-width:@phone){
    .m-profile-avatar-primary{

        .el-upload{
            .db;
        }
        .el-upload-dragger{
            .w(100%);
        }
    }
}

.m-profile-avatar-frame{
    .dbi;.y(top);
    max-width:380px;
    .mr(-80px);

    .u-title{
        font-weight:300;
        .x(left);
    }
    .u-limit{
        .fz(13px);
        font-weight:normal;
        .ml(5px);
        color:#f57e03;

        i{
            font-size:16px;
        }

        &.on{
            color:#49c10f;
        }
        a{box-shadow: 0 1px 0 @color-link;}
    }
    .u-tip{
        .fz(12px,2);
        color:#bbb;
        .x(left);
    }
    .u-list{
        list-style: none;
        .clearfix;
        .pr;
        padding:10px;
    }
    .u-item{
        .fl;
        .mr(20px);
        .mb(20px);
        .pointer;
        .pr;
        .size(68px);

        &:hover{
            // outline: 2px solid #49c10f;
        }
    }
    .u-pic{
        .size(68px);
        &.isCircle{
            border-radius: 100%;
        }
    }
    .u-frame-none{
        border:8px solid #eee;
        box-sizing: border-box;
    }
    .u-item.on{
        .u-frame-none{
            border-color:#e6f0fb;
        }
    }
    @offset:8px;
    .u-frame{
        .pa;.lt(-@offset,-@offset);
        .db;
        .size(84px);
        img{
            .db;
        }
    }

    .u-blocked{
        cursor: default;
        // background-color:rgba(255,255,255,.8);
        // .pa;.lt(0);
        // .size(100%);
        .tm(0.6);
    }

}
@media screen and (max-width:@phone){
    .m-profile-avatar-primary{
        padding-right:0;
        .mr(0);
        border-right: none;
    }
    .m-profile-avatar-frame{
        .mr(0);
    }
}