.m-dashboard-card {
    .m-table {
        .cell {
            color: #232323;
            .x;
        }
        th {
            .fz(12px);
        }
        td {
            .fz(12px);
            .x;
            opacity: 0.75;
            cursor: pointer;
        }
        tr {
            border-bottom: 1px solid #eee;
        }
        .u-card {
            .flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            .u-count {
                .flex;
                .lh(24px);
                gap: 5px;
                flex-direction: column;
                align-items: center;
            }
            .u-btn {
                .ml(10px);
                .fz(12px,24px);
                .r(3px);
                border: 1px solid #ddd;
                padding: 3px 10px;
                background-color: #4d99f0;
                &:hover {
                    border: 1px solid #4d99f0;
                    color: #0366d6;
                }
            }
        }
    }
}
