.m-dashboard-index{
}

.m-basicinfo{
    .u-avatar{
        .size(180px);
        .fl;
        margin-right:20px;
    }

    .lh(1.8);

    em{
        color:#888;
    }

    .u-name{
        margin:0;
        padding:0;
        .fz(2em,2);
    }

    .u-uid{
        b{
            .bold;
        }
    }

    .clearfix;
    border-bottom:1px solid #eee;
    padding-bottom:20px;
}