.m-dashboard-index {
    .m-basicinfo {
        .u-avatar {
            .size(120px);
            margin-right: 20px;
            .fl;
            .u-avatar-avt{
                .db;.size(100%);
                .r(100%);
                padding:6px;
                box-sizing: border-box;
                img{.r(100%);}
            }
            .pr;
            .u-avatar-frame{
                .pa;.lt(0);
                .size(100%);
                
            }
            img{.size(100%);}
        }

        line-height:1.8;

        .u-name {
            margin: 0;
            padding: 0;
            .fz(2em, 48px);
            font-weight:300;
        }
        .u-group{
            // .dbi;.size(48px);
            // .y(top);
            .ml(5px);
            .fz(12px);
            color:#aaa;
            font-style: normal;
        }
        .u-uid {
            b {
                .bold;
            }
            em {
                font-style: normal;
                background-color:@bg-light;
                padding:0 5px;
                border:1px solid #eee;
                .r(3px);
                .mr(5px);
            }
            .mb(2px);
        }

        .u-join,.u-bio{
            .fz(13px);
            padding:0 5px;
        }

        .clearfix;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: @phone) {
    .m-dashboard-index {
        .m-basicinfo {
            .pr;
            padding-left:100px;
            .u-avatar {
                .size(80px);
                .pa;.lt(0);
            }
            .u-name{
                .fz(15px,24px);
                .bold;
            }
            *{
                .fz(13px);
            }
            .u-group{
                .none;
            }
        }
    }
}
