.m-mall-detail {
    .m-breadcrumb {
        .flex;
        justify-content: space-between;
        .fz(14px);
        .r(3px);
        .mb(20px);
        background-color: #fafbfc;
        padding: 12px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        .u-back {
            .pointer;
            &:hover {
                .color(#0366d6);
            }
        }
    }
    .m-content {
        .r(3px);
        .flex;
        flex-direction: column;
        gap: 20px;
        background-color: #fafbfc;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        min-height: 400px;
        .m-address {
            .flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
        }
        .m-order {
            .flex;
            gap: 40px;
            padding: 20px;
            .u-img {
                .size(240px ,auto);
            }
            .m-box {
                .flex;
                .fz(12px);
                flex-direction: column;
                gap: 10px;
                .u-title {
                    .fz(16px,2);
                    .bold;
                }
                .u-consume {
                    .flex;
                    .u-box {
                        .flex;
                        flex-direction: column;
                        b {
                            .bold;
                            .color(#f00);
                        }
                    }
                }
            }
        }
        .m-button {
            padding: 20px;
            .flex;
            justify-content: center;
            gap: 20px;
            .el-button + .el-button {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: @phone) {
    .m-mall-detail {
        .m-content {
            .m-order {
                .flex;
                flex-direction: column;
                .m-address {
                    .w(100%);
                }
                .m-goods {
                    .flex;
                    flex-direction: column;
                    .u-img {
                        .size(100%,auto);
                    }
                }
            }
        }
    }
}
