.m-mall-detail {
    .m-breadcrumb {
        .flex;
        justify-content: space-between;
        .fz(14px);
        .r(3px);
        .mb(20px);
        background-color: #fafbfc;
        padding: 12px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        .u-back {
            .pointer;
            &:hover {
                .color(#0366d6);
            }
        }
    }
    .m-content {
        .r(3px);
        background-color: #fafbfc;
        padding: 12px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        min-height: 400px;
    }
}
