.m-dashboard-profile{

    .u-name{
        .u-value{
            .bold;
        }
    }

    .u-rename{
        .pr;
        
        .el-icons-status{
            .pa;.rt(50px,14px);
        }
        .el-icon-success{
            color:#67C23A;
        }
        .el-icon-error{
            color:#f00;
        }

        .el-alert{
            .mt(10px);
            padding:0 5px 0 10px;
            line-height:2.5;
        }
    }

    .u-edit{
        .pointer;
        color:@color-link;

        &.disabled{
            color:#999;
            cursor: default;
        }
    }

    .u-bio{
        textarea{
            font-family:'Arial';
        }
    }
}
@media screen and (max-width:@phone){
    .el-form-item__label{
        .x(left);
        // .w(60px) !important;
    }
}