.m-dashboard-publish{
    .u-data-input{
        .pointer;
    }
}
@media screen and (max-width:@phone){
    .m-dashboard-publish{
        .el-page-header__content{
            .none;
        }

        .m-publish-store{
            top:-5px;
        }

        .el-form-item__content{
            white-space: nowrap;
            overflow-x: auto;
        }
    }
}