.m-theme-box{
    // min-height: calc(100vh - 64px - 48px - 52px - 54px);
    // background-color: #eee;
    .flex;
    .flex(x);
    .m-theme-left{
        .w(420px);
        // border: 1px solid #eee;
        .mr(20px);
        .u-top{
            .size(100%,350px);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .u-bottom{
            .mt(20px);
            .size(100%,100px);
            .flex;
            .flex(x);
            .pt(4px);
            border:1px dashed #eee;
            // padding: 20px 0 ;
            text-align: center;
            .u-type-box{
                // border: 1px dashed #eee;
                padding: 4px;
                .mr(10px);
                .u-img{
                    .size(64px);
                    border-radius: 10px;
                }
                .u-title{
                    .fz(14px);
                }
            }
            .u-type-box:nth-child(5){
                .mr(0);
            }
        }
    }
    .m-theme-right{
        .w(424px);
        .size(424px,470px);
        border: 1px solid #eee;
        border-radius: 10px;
        box-shadow: 0 0 0 4px rgba(245, 241, 241, 0.4);
        overflow-y: scroll;
        // max-height: 70vh;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-track-piece {
            background-color: #fafafa;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #eee;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-button,
        &::-webkit-scrollbar-corner,
        &::-webkit-resizer {
            display: none;
        }
        .u-no-theme{
            .flex;
            .size(400px,86px);
            margin: 10px auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #F3F3F3;
            border-radius: 10px;
            color: #B0B0B0;
            .fz(14px,18px);
            font-weight: 400;
            cursor: pointer;
            &.select{
                color: #fff;
                background-color: #0366D6;
            }
        }
        .u-theme{
            .u-decoration-list {
                padding: 0 4px;
                .mb(20px);
                padding: 0 10px;
                .u-title {
                    .dbi;
                    .h(28px);
                    .mb(10px);
                    background: #0366D6;
                    border-radius: 5px;
                    .fz(14px,28px);
                    color: #ffffff;
                    font-weight: 400;
                    padding: 5px 10px;
                }
                .u-decoration-item {
                    .flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .u-picbox {
                        .pr;
                        .mr(4px);
                        cursor: pointer;
                        user-select: none;
                        -webkit-user-select: none;
                        .w(86px);
                        .mb(6px);
                        .u-pic {
                            .size(86px);
                            box-sizing: border-box;
                            border: 1px dashed #eee;
                            border-radius: 10px;
                           img{
                            border-radius: 10px;
                           }
                            &.select {
                                .pr;
                                text-align: center;
                                color: #4abe84;
                                background-color: #fff;
                            }
                            &.select:before {
                                content: "";
                                .pa;
                                right: 0;
                                bottom: 0;
                                border: 16px solid #4abe84;
                               border-radius: 0 0  10px 0;
                                border-top-color: transparent;
                                border-left-color: transparent;
                                z-index: 2;
                            }
                            &.select:after {
                                content: "";
                                width: 4px;
                                height: 12px;
                                .pa;
                                right: 6px;
                                bottom: 2px;
                                border: 2px solid #fff;
                                border-top-color: transparent;
                                border-left-color: transparent;
                                transform: rotate(45deg);
                                z-index: 2;
                            }
                        }
                        .u-decoration-name {
                            overflow: hidden; //超出的文本隐藏
                            text-overflow: ellipsis; //溢出用省略号显示
                            white-space: nowrap;
                            .w(100%);
                            .fz(14px,18px);
                            color: #7B7B7B;
                            text-align: center !important;
                            .mt(5px);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: @phone) {
    .m-theme-box{
        display: block;
        .m-theme-right{
            .mt(20px);
        }
    }
}